body {
	background-color: #ffecec;
}
.err404-wrapper {
	width: 100%;
	padding-top: 70px;
	height: calc(100vh - 70px);
	background-color: #ffecec;
}

.err404__title {
	color: #307b9b;
	font-size: 48px;
	text-align: center;
	padding: 30px 0;
}

.err404__title span {
	text-transform: uppercase;
	text-align: center;
	color: #ffb800;
	font-weight: bold;
	position: relative;
}

.err404__title span::after {
	content: "";
	position: absolute;
	width: 200%;
	left: -50%;
	top: 90%;
	height: 15px;
	background: url(../img/hr.png) center/cover no-repeat;
}

.box404 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box404:nth-child(even) .box404__img {
	order: 1;
}

.box404__text {
	text-align: center;
	padding: 5%;
	font-size: 32px;
	color: #307b9b;
}

.box404__button {
	margin-top: 40px;
}

@media screen and (max-width: 768px) {
	.err404__title {
		font-size: 28px;
	}
	.err404__title span::after {
		height: 10px;
	}
	.box404 {
		display: block;
		text-align: center;
		padding: 40px;
	}
	.box404__img {
		width: 80%;
	}
	.box404__text {
		font-size: 28px;
		padding: 0;
	}
}
@media screen and (max-width: 425px) {
	.err404__title {
		font-size: 18px;
	}
	.err404__title span::after {
		height: 15px;
	}
	.box404 {
		display: block;
		text-align: center;
	}
	.box404__img {
		width: 80%;
	}
	.box404__text {
		font-size: 20px;
		padding: 0;
	}
}
