/*
COLORS
#307b9b - blue
#ffb800 - orange
##ffecec - background pink

Button linear-gradient
top FBD079
bottom EEA82A
*/

/*events*/
.events {
	background-color: #ffecec;
	position: relative;
}
.event {
	width: 100%;
	position: relative;
	padding: 10px;
	overflow: hidden;
}
.event__img {
	width: 100%;
	margin-bottom: -4px;
	border-radius: 20px;
	box-shadow: 0 0 5px 5px #307b9b;
	transition: transform 1s;
}

.event__revers {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: center;
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 0 0 5px 5px #307b9b;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	transition: transform 1s;
}

.event__revers .label-button {
	margin-top: auto;
	padding: 5px 10px;
	font-size: 20px;
}
.event__title {
	color: #307b9b;
	font-size: 20px;
	text-align: center;
	position: relative;
}
.event__title::after {
	content: "";
	position: absolute;
	width: 100px;
	left: 50%;
	transform: translateX(-50%);
	height: 10px;
	background: url(../img/hr.png) center/cover no-repeat;
	top: 105%;
}
.event__description {
	color: #307b9b;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin: 25px 0;
}

.event:hover .event__img {
	transform: rotateY(180deg);
}

.event:hover .event__revers {
	transform: rotateY(360deg);
}
