/*
COLORS
#307b9b - blue
#ffb800 - orange
##ffecec - background pink

Button linear-gradient
top FBD079
bottom EEA82A
*/

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
/*общие*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Neucha", cursive;
	font-size: 20px;
}
.clear {
	clear: both;
}

.button {
	text-decoration: none;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	background-image: linear-gradient(#fbd079, #eea82a);
	box-shadow: 0 5px 5px -3px grey;
	transition: color 1s;
}
.button:hover {
	color: #307b9b;
}

.content {
	width: 80%;
	margin: 0 auto;
	min-width: 320px;
	max-width: 1440px;
}
/*--header--*/
.header {
	padding: 20px;
	/*background-color: black;*/
	min-width: 320px;
	position: sticky;
	top: 0;
	z-index: 10;
	background-color: white;
}

.nav {
	width: 80%;
	margin: 0 auto;
	max-width: 1440px;
	position: relative;
	/*display: sticky;*/
}

/*--start логотип--*/
.logo {
	/*background-color: darkblue;*/
	width: 15%;
	min-width: 150px;
	float: left;
}
.logo__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #307b9b;
	font-weight: bold;
	position: relative;
}
.logo__link::before,
.logo__link::after {
	content: "";
	position: absolute;
	width: 65%;
	left: 35%;
}
.logo__link::before {
	height: 10px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 85%;
}
.logo__link::after {
	content: "родительский клуб";
	font-size: 0.4em;
	font-weight: bold;
	color: #ffb800;
	right: 0;
	top: 130%;
	text-align: center;
}
.logo__img {
	width: 50px;
	vertical-align: top;
}
/*--end логотип--*/
/*--start меню--*/
.menu {
	/*background-color: brown;*/
	list-style: none;
	width: 75%;
	text-align: right;
	float: right;
}
.menu__item {
	display: inline-block;
	position: relative;
}

.menu__item a {
	text-decoration: none;
	display: block;
	padding: 10px 5px;
	font-weight: bold;
	color: #ffb800;
}

.menu__item:hover a:not(.active) {
	color: #307b9b;
	animation: menuItemAnimation 0.7s linear infinite;
}

.menu__item a.active {
	color: #307b9b;
}

.menu__item a.active::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	height: 10px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 80%;
}
/*--end меню--*/
/*--start burger--*/
#burger {
	display: none;
}
label[for="burger"] {
	display: none;
	width: 55px;
	height: 55px;
	float: right;
	position: relative;

	border: 1px solid #ffb800;
	border-radius: 4px;
	z-index: 10;
	transition: border-radius 0.5s;
}
label[for="burger"] span {
	display: block;
	position: absolute;
	background-color: #ffb800;
	width: 80%;
	left: 10%;
	height: 6px;
	border-radius: 4px;
	transition: 0.5s;
}
label[for="burger"] > span:nth-child(1) {
	top: 8px;
}
label[for="burger"] > span:nth-child(2) {
	top: 24px;
}
label[for="burger"] > span:nth-child(3) {
	top: 40px;
}
#burger:checked + label[for="burger"] {
	border-radius: 50%;
}

#burger:checked + label[for="burger"] > span:nth-child(1) {
	top: 24px;
	transform: rotate(45deg);
}
#burger:checked + label[for="burger"] > span:nth-child(2) {
	display: none;
}
#burger:checked + label[for="burger"] > span:nth-child(3) {
	top: 24px;
	transform: rotate(-45deg);
}
#burger:checked ~ .menu {
	opacity: 1;
}
/*--end burger--*/

/*--main--*/
.section__title {
	text-transform: uppercase;
	color: #307b9b;
	font-size: 48px;
	text-align: center;
	position: relative;
}
.section__title::after {
	content: "";
	position: absolute;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 100%;
}
.section__subtitle {
	color: #307b9b;
	font-size: 36px;
	text-align: center;
	position: relative;
	margin: 25px 0;
}
.section__subtitle::after {
	content: "";
	position: absolute;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 100%;
}

/*home*/
.home {
	width: 100%;
	padding: 40px 20px;
	background-color: #fef5f0;
}
.home__title {
	color: #307b9b;
	font-size: 48px;
	text-align: center;
	transform: scale(0);
	animation: scale 1s linear 0.5s forwards;
}
.home__title span {
	text-transform: uppercase;
	text-align: center;
	color: #ffb800;
	font-weight: bold;
}
.box {
	padding: 40px 0;
}
.home .box__img {
	width: 50%;
	float: right;
	/*transform: scale(0);
	animation: scale 1s linear 1s forwards;*/
	position: relative;
	right: -150%;
	animation: moveToLeft 1s linear 1s forwards;
}
.box__text {
	width: 50%;
	float: right;
}
.home .box__text p {
	text-align: justify;
	margin: 20px 0;
	color: #307b9b;
	font-size: 32px;
	position: relative;
	left: -150%;
}

.home .box__text span {
	text-transform: uppercase;
	color: #ffb800;
	font-weight: bold;
	font-size: 32px;
}

.box__button {
	padding: 20px;
	text-align: center;
	transform: scale(0);
	animation: scale 1s linear 1.8s forwards;
}

.home p:nth-child(1) {
	animation: moveToRight 1s linear 0.5s forwards;
}
.home p:nth-child(2) {
	animation: moveToRight 1s linear 0.7s forwards;
}
.home p:nth-child(3) {
	animation: moveToRight 1s linear 0.9s forwards;
}
.home p:nth-child(4) {
	animation: moveToRight 1s linear 1.2s forwards;
}

/*about*/
.about {
	width: 100%;
	padding: 40px 20px;
}

.about .box__img {
	width: 50%;
	float: left;
}
.about .box__text {
	text-align: justify;
	margin: 20px 0;
	color: #307b9b;
	font-size: 24px;
	width: 50%;
	float: left;
}

/*--classes flex--*/
.list {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}
.item {
	display: block;
	width: 30%;
	padding: 10px;
	position: relative;
}
.item__link {
	padding: 5px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: #ffb800;
}
.item__img {
	width: 100%;
}

.item__frame {
	position: absolute;
	bottom: 0%;
	left: 0;
	height: 15%;
	width: 75%;
	border: 5px solid orange;
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
}
.item:hover > .item__frame {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px 0 orange;
}

.classes .item:nth-child(1) .item__frame {
	border: 5px solid red;
	box-shadow: 0 0 15px 0 red;
}
.classes .item:nth-child(2) .item__frame {
	border: 5px solid green;
	box-shadow: 0 0 15px 0 green;
}
.classes .item:nth-child(3) .item__frame {
	border: 5px solid blue;
	box-shadow: 0 0 15px 0 blue;
}

.languages .item:nth-child(2) .item__frame {
	border: 5px solid red;
	box-shadow: 0 0 15px 0 red;
}
.languages .item:nth-child(3) .item__frame {
	border: 5px solid green;
	box-shadow: 0 0 15px 0 green;
}
.languages .item:nth-child(1) .item__frame {
	border: 5px solid blue;
	box-shadow: 0 0 15px 0 blue;
}

/*---АДАПТИВ---*/
/*max-width: 1024px*/
@media screen and (max-width: 1024px) {
	.nav,
	.content {
		width: 100%;
	}
	.menu__item a {
		font-size: 0.85em;
	}
}

/*max-width: 768px*/
@media screen and (max-width: 768px) {
	.nav {
		width: 100%;
	}
	label[for="burger"] {
		display: block;
	}

	.menu {
		width: 80%;
		min-width: 192px;
		padding: 15px;
		position: absolute;
		top: -5px;
		right: -5px;
		border: 1px solid #ffb800;
		border-radius: 30px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 1;
		opacity: 0;
		transition: opacity 0.5s;
	}
	.menu__item {
		display: block;
	}
	.menu__item a {
		font-size: 20px;
		padding: 10px;
		letter-spacing: 0.2em;
		text-align: left;
	}
	.menu__item > a.active::before {
		background: none;
	}
	.home__title {
		font-size: 32px;
	}
	.home .box__img,
	.home .box__text,
	.about .box__img,
	.about .box__text {
		display: block;
		width: 100%;
		float: none;
	}
	.home .box__text p,
	.about .box__text p {
		margin: 0;
		font-size: 1em;
	}
	.list {
		display: block;
	}

	.item {
		width: 90%;
		margin: 0 auto;
	}

	.item__link {
		font-size: 1.5em;
	}
	.item__frame {
		width: 100%;
	}
}
