/*
COLORS
#307b9b - blue
#ffb800 - orange
##ffecec - background pink

Button linear-gradient
top FBD079
bottom EEA82A
*/

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
/*общие*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Neucha", cursive;
	font-size: 20px;
}
.clear {
	clear: both;
}

.box__button {	
	padding: 20px;
	text-align: center;
}
.label-button,
.button {
	text-decoration: none;
	padding: 10px 20px;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border-radius: 20px;
	background-image: linear-gradient(#fbd079, #eea82a);
	box-shadow: 0 5px 5px -3px grey;
	cursor: pointer;
	transition: color .5s;
}
.label-button:hover,
.button:hover {
	color: #307b9b;
}
.button__wrapper{
	text-align: center;
	padding: 20px 0;
}
.label-button{
	/*display: block;*/
	width: 150px;
	text-align: center;
	margin: 10px auto;
}

.content {
	width: 80%;
	margin: 0 auto;
	max-width: 1440px;
	min-width: 300px;
}
.main {
	min-width: 320px;
}
/*--header--*/
.header {
	/*padding: 20px;*/
	padding: 10px;
	min-width: 320px;
	/*position: sticky;*/
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
	background-image: linear-gradient(0deg, #ffecec 0%, white 40%, white 60%, #ffecec 100%);
	box-shadow: 0 0 5px 0px #307b9b;
}

.nav {
	width: 80%;
	margin: 0 auto;
	max-width: 1440px;
	position: relative;
	/*background-color: white;*/
	/*display: sticky;*/
}

/*--start логотип--*/
.logo {
	/*background-color: darkblue;*/
	width: 15%;
	min-width: 150px;
	float: left;
}
.logo__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #307b9b;
	font-weight: bold;
	position: relative;
}
.logo__link::before,
.logo__link::after {
	content: "";
	position: absolute;
	width: 65%;
	left: 35%;
}
.logo__link::before {
	height: 10px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 85%;
}
.logo__link::after {
	content: "родительский клуб";
	font-size: 0.4em;
	font-weight: bold;
	color: #ffb800;
	right: 0;
	top: 130%;
	text-align: center;
}
.logo__img {
	width: 50px;
	vertical-align: top;
}
/*--end логотип--*/
/*--start меню--*/
.menu {
	/*background-color: brown;*/
	list-style: none;
	width: 75%;
	text-align: right;
	float: right;
}
.menu__item {
	display: inline-block;
	position: relative;
}

.menu__item a {
	text-decoration: none;
	display: block;
	padding: 10px 4px;
	font-weight: bold;
	color: #ffb800;
	font-size: 0.95em;
}

.menu__item:hover a:not(.active) {
	color: #307b9b;
	/*animation: menuItemAnimation 0.7s linear infinite;*/
}

.menu__item a.active {
	color: #307b9b;
}

.menu__item a.active::before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	height: 10px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 80%;
}
/*--end меню--*/
/*--start burger--*/
#burger {
	display: none;
}
label[for="burger"] {
	display: none;
	width: 55px;
	height: 55px;
	float: right;
	position: relative;
	border: 1px solid #ffb800;
	border-radius: 4px;
	z-index: 10;
	transition: border-radius 0.5s;
}
label[for="burger"] span {
	display: block;
	position: absolute;
	background-color: #ffb800;
	width: 80%;
	left: 10%;
	height: 6px;
	border-radius: 4px;
	transition: 0.5s;
}
label[for="burger"] > span:nth-child(1) {
	top: 8px;
}
label[for="burger"] > span:nth-child(2) {
	top: 24px;
}
label[for="burger"] > span:nth-child(3) {
	top: 40px;
}
#burger:checked + label[for="burger"] {
	border-radius: 50%;
}

#burger:checked + label[for="burger"] > span:nth-child(1) {
	top: 24px;
	transform: rotate(45deg);
}
#burger:checked + label[for="burger"] > span:nth-child(2) {
	display: none;
}
#burger:checked + label[for="burger"] > span:nth-child(3) {
	top: 24px;
	transform: rotate(-45deg);
}
#burger:checked ~ .menu {
	visibility: visible;
	opacity: 1;	
}
/*--end burger--*/

/*--main--*/
.section__title {
	text-transform: uppercase;
	color: #307b9b;
	font-size: 2em;
	text-align: center;
	position: relative;
}
.section__title::after {
	content: "";
	position: absolute;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 100%;
}
.section__subtitle {
	color: #307b9b;
	font-size: 1.6em;
	text-align: center;
	position: relative;
	margin: 25px 0;
}
.section__subtitle::after {
	content: "";
	position: absolute;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	background: url("../img/hr.png") center/cover no-repeat;
	top: 100%;
}

.home{
	background-color: #ffecec;
}
.classes,
.art,
.events,
.reviews {
	/*background-color: #ffecec;*/
	background: url("../img/background-border-wp.png") repeat-x #ffecec;
}
.about,
.languages,
.successes,
.gallery,
.footer {
	/*background-color: #ffecec;*/
	background: url("../img/background-border-pw.png") repeat-x #ffffff;
}

/*home*/
.home {
	width: 100%;
	padding: 40px 20px;
}
.home__title {
	color: #307b9b;
	font-size: 48px;
	text-align: center;
	transform: scale(0);
	animation: scale 1s linear 0.5s forwards;
}
.home__title span {
	text-transform: uppercase;
	text-align: center;
	color: #ffb800;
	font-weight: bold;
}
.box {
	padding: 15px 0;
}
.home .box__img {
	width: 50%;
	float: right;
	/*transform: scale(0);
	animation: scale 1s linear 1s forwards;*/
	position: relative;
	/*right: -150%;
	animation: moveToLeftIn 1s linear 1s forwards;*/
	right: 0px;
	transform: scale(0);
	animation: scale 1s linear 1.2s forwards;
}

.box__text {
	text-align: justify;
	margin: 10px 0;
	color: #307b9b;
	font-size: 1.4em;
	position: relative;	
}
.box__text span {
	text-transform: uppercase;
	color: #ffb800;
	font-weight: bold;
	font-size: 32px;
}


.home .box__text{
	left: -150%;
}
.home .button__wrapper {
	position: relative;
	left: -150%;
	animation: moveToRightIn 1s linear 1.7s forwards;
}

.home .box__text:nth-of-type(1) {
	animation: moveToRightIn 1s linear 0.5s forwards;
}
.home .box__text:nth-of-type(2) {
	animation: moveToRightIn 1s linear 0.7s forwards;
}
.home .box__text:nth-of-type(3) {
	animation: moveToRightIn 1s linear 0.9s forwards;
}
.home .box__text:nth-of-type(4) {
	animation: moveToRightIn 1s linear 1.2s forwards;
}
.home .box__text:nth-of-type(5) {
	animation: moveToRightIn 1s linear 1.5s forwards;
}

.home,
.about,
.classes,
.languages,
.art,
.successes,
.events,
.gallery,
.reviews,
.footer {
	width: 100%;
	min-width: 320px;
	/*padding: 40px 20px;*/
	padding: 75px 10px 10px;
}
/*about*/
.about .box__img {
	width: 50%;
	float: left;
}

/*--classes flex--*/
.list {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}
.item {
	display: block;
	width: 30%;
	padding: 10px;	
}
.item__link {
	padding: 5px;
	text-decoration: none;
	display: block;
	font-weight: bold;
	color: #307b9b;
	/*color: #ffb800;*/
	position: relative;
}
.item__img {
	width: 100%;
}
/**/
.item__link::before{
	content:"";
	position: absolute;
	bottom: 0%;
	left: -5px;
	height: 25%;
	width: 85%;
	border: 5px solid orange;
	border-radius: 10px;
	transition: 0.5s;	
}
.item__link:hover::before {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px 0 orange;
}
.classes .item:nth-child(1) .item__link::before {
	border: 5px solid red;
	box-shadow: 0 0 15px 0 red;
}
.classes .item:nth-child(2) .item__link::before {
	border: 5px solid green;
	box-shadow: 0 0 15px 0 green;
}
.classes .item:nth-child(3) .item__link::before {
	border: 5px solid blue;
	box-shadow: 0 0 15px 0 blue;
}
.languages .item:nth-child(2) .item__link::before {
	border: 5px solid red;
	box-shadow: 0 0 15px 0 red;
}
.languages .item:nth-child(3) .item__link::before {
	border: 5px solid green;
	box-shadow: 0 0 15px 0 green;
}
.languages .item:nth-child(1) .item__link::before {
	border: 5px solid blue;
	box-shadow: 0 0 15px 0 blue;
}

.art .item:nth-child(3) .item__link::before {
	border: 5px solid red;
	box-shadow: 0 0 15px 0 red;
}
.art .item:nth-child(1) .item__link::before {
	border: 5px solid green;
	box-shadow: 0 0 15px 0 green;
}
.art .item:nth-child(2) .item__link::before {
	border: 5px solid blue;
	box-shadow: 0 0 15px 0 blue;
}

/*successes*/
.block-for-slider {
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}

.viewport {
	width: 90%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	user-select: none;
	text-align: center;
	border: 1px solid #ffb800;
	border-radius: 10px;
	background: white;
}

.slidewrapper {
	position: relative;
	transition: 1s;
	transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
}

.successes .slidewrapper {
	width: calc(100% * 3);
}
.reviews .slidewrapper {
	width: calc(100% * 4);
	
}

.slidewrapper,
.slidewrapper ul,
.slidewrapper li {
	margin: 0;
	padding: 0;
}

.slide {
	list-style: none;
	display: inline;
	float: left;
}
.successes .slide {
	width: calc(100% / 3);
}

.reviews .slide {
	width: calc(100% / 4);
}

.slide-img {
	width: 100%;
	margin-bottom: -7px;
}

/*prev-next-btns*/
.prev-btn,
.next-btn {
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: linear-gradient(#fbd079, #eea82a);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.5s;
}
.prev-btn::before,
.prev-btn::after,
.next-btn::before,
.next-btn::after {
	content: "";
	position: absolute;
	width: 40%;
	height: 10%;
	background-color: white;
	transition: 0.5s;
}
.prev-btn::before {
	top: 40%;
	left: 30%;
	transform-origin: bottom left;
	transform: rotate(45deg);
}
.prev-btn::after {
	top: 50%;
	left: 30%;
	transform-origin: top left;
	transform: rotate(-45deg);
}

.next-btn::before {
	top: 50%;
	right: 30%;
	transform-origin: top right;
	transform: rotate(45deg);
}
.next-btn::after {
	top: 40%;
	right: 30%;
	transform-origin: bottom right;
	transform: rotate(-45deg);
}

.prev-btn:hover,
.next-btn:hover {
	cursor: pointer;
	box-shadow: 0 0px 10px 4px #307b9b;
}
.prev-btn:hover::before,
.prev-btn:hover::after,
.next-btn:hover::before,
.next-btn:hover::after {
	background-color: #307b9b;
}

.prev-btn {
	/*left: -55px;*/
	left: 0px;
}

.next-btn {
	/*right: -55px;*/
	right: 0px;
}

/*events*/
.event {
	width: 30%;
	min-width: 240px;
	position: relative;
	overflow: hidden;
}
.event__img {
	width: 100%;
	margin-bottom: -7px;
	border: 1px solid #ffb800;
	border-radius: 20px;
	transition: transform 1s;
}

.event__revers {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	background-color: white;
	border: 1px solid #ffb800;
	border-radius: 20px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	transition: transform 1s;
}

.event__button {
	padding: 10% 0;
}
.event__title {
	color: #307b9b;
	font-size: 20px;
	text-align: center;
	position: relative;
}
.event__title::after {
	content: "";
	position: absolute;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	height: 24px;
	background: url(../img/hr.png) center/cover no-repeat;
	top: 100%;
}
.event__description {
	color: #307b9b;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin: 25px 0;
}

.event:hover .event__img {
	transform: rotateY(180deg);
}

.event:hover .event__revers {
	transform: rotateY(360deg);
}
/*gallery*/
.gallery__viewport {
	width: 100%;
	margin: 10% 0 5% 0;
	text-align: center;
	/*overflow: hidden;*/
	/*background-color: green;*/
	white-space: nowrap;
}

.gallery__img {
	display: inline;
	position: relative;
	top: 0;
	width: 20%;
	margin: 0 -1%;
	border: 5px solid white;
	box-shadow: 0 0 5px 5px black;
	filter: grayscale(0.5);
	/*right: -100%;*/
}
.gallery__img:hover {
	border: 5px solid #ffb800;
	box-shadow: 0 0 5px 5px #307b9b;
	filter: grayscale(0);
}

.gallery__img:nth-child(1) {
	transform: rotate(15deg);
	animation: animPhoto 5s alternate linear infinite;
}
.gallery__img:nth-child(2) {
	transform: rotate(-15deg);
	animation: animPhoto 4s alternate-reverse linear infinite;
}
.gallery__img:nth-child(3) {
	transform: rotate(15deg);
	animation: animPhoto 6s alternate linear infinite;
}
.gallery__img:nth-child(4) {
	transform: rotate(-15deg);
	animation: animPhoto 4s alternate-reverse linear infinite;
}
.gallery__img:nth-child(5) {
	transform: rotate(15deg);
	animation: animPhoto 5s alternate linear infinite;
}

/*reviews*/
.review {
	padding: 20px;
}
.review__description {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.review__photo {
	margin: 20px;
	width: 15%;
	border-radius: 50%;
	box-shadow: 0 0 0px 3px white, 0 0 0px 5px #ffb800;
}
.review__autor {
	text-transform: uppercase;
	font-size: 2em;
	font-weight: bold;
	color: #ffb800;
}
.review__text {
	text-align: justify;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #307b9b;
}
.review__text::before,
.review__text::after {
	content: "&ldquo;";
	color: #ffb800;
	font-size: 1.5em;
	font-weight: bold;
}
.review__text::before {
	content: "\201C";
}
.review__text::after {
	content: "\201D";
}
/*contacts*/
.contacts {
	margin: 40px 0;
	padding: 20px 0px;
	border: 1px solid #ffb800;
	border-radius: 15px;
}
.contacts__description,
.contacts__map {
	width: 46%;
	margin: 0 2%;
	float: left;
}

.contacts__location p,
.contacts__social p,
.contacts__question p {
	color: #307b9b;
	margin-bottom: 5px;
}

.contacts__location p:first-child,
.contacts__social p:first-child,
.contacts__question p:first-child {
	margin-top: 5px;
	font-weight: bold;
}
.contacts__location p:first-child {
	margin-top: 0;
}

.contacts__location p:first-child span {
	text-transform: uppercase;
	color: #ffb800;
}

.contacts__addr::before,
.contacts__tel::before {
	margin-right: 10px;
	position: relative;
	top: 5px;
}

.contacts__addr::before {
	content: url("../img/location.svg");
}
.contacts__tel::before {
	content: url("../img/phone.svg");
}

.contacts__tel {
	text-decoration: none;
	color: #307b9b;
}

.contacts__soc-link img {
	width: 30px;
	margin: 0 10px;
}


.contacts__map {	
	overflow: hidden;
	padding-bottom: 50%;
	position: relative;
	height: 0;
	min-height: 320px;
	border: 1px solid #ffb800;
	border-radius: 10px;
}
.contacts__map iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.contacts__icon {
	width: 50px;
}
.contacts__icon:hover {
	transform: scale(1.2);
}

.copyright {
	margin-top: 20px;
	text-align: center;
	color: #307b9b;
}

/*---АДАПТИВ---*/
/*max-width: 1024px*/
@media screen and (max-width: 1024px) {
	.nav,
	.content {
		width: 100%;
	}
	.content {
		padding: 10px 10px;
	}
	.menu__item a {
		font-size: 0.85em;
	}
	.viewport {
		width: 85%;
	}
}

/*max-width: 768px*/
@media screen and (max-width: 768px) {
	.nav {
		width: 100%;
	}
	label[for="burger"] {
		display: block;
	}

	.menu {
		width: 90%;
		min-width: 192px;
		padding: 15px;
		position: absolute;
		top: -5px;
		right: -5px;
		border: 1px solid #ffb800;
		border-radius: 30px;
		background-color: rgba(255, 255, 255, 0.9);
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.5s;		
	}
	.menu__item {
		display: block;
	}
	.menu__item a {
		font-size: 20px;
		padding: 15px;
		letter-spacing: 0.2em;
		text-align: left;
	}
	.menu__item > a.active::before {
		background: none;
	}
	.home__title {
		font-size: 32px;
	}
	.home .box__img,
	.home .box__text,
	.about .box__img,
	.about .box__text {
		display: block;
		width: 100%;
		float: none;
	}
	.home .box__text p,
	.about .box__text p {
		margin: 0;
		font-size: 30px;
	}
	.list {
		display: block;
	}

	.item {
		width: 90%;
		padding: 0 10px;
		margin: 15px auto;
	}

	.item__link {
		font-size: 1.3em;
	}
	.item__link::before {
		width: 100%;
		height: 15%;
	}
	/*successes*/
	.prev-btn {
		left: -20px;
	}

	.next-btn {
		right: -20px;
	}

	/*events*/
	.event {
		width: 90%;
		margin: 25px auto;
	}

	.contacts__description,
	.contacts__map {
		width: 96%;
		float: none;
		margin-bottom: 15px;
	}
	.gallery__img {
		width: 30%;
	}
	.gallery__img:nth-child(4),
	.gallery__img:nth-child(5) {
		display: none;
	}
}

@media screen and (max-width: 425px) {
	body {
		font-size: 18px;
	}
	.review__photo {
		margin: 10px;
		width: 25%;
	}
	.review__autor {
		font-size: 1.2em;
	}
	.gallery__img {
		width: 90%;
	}

	.gallery__img:nth-child(2),
	.gallery__img:nth-child(3),
	.gallery__img:nth-child(4),
	.gallery__img:nth-child(5) {
		display: none;
	}
}
